#dialog_view {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    left: 0;
    color: $grayColor2;
    z-index: 100;

    .overlay {
        width: 100%;
        height: 100%;
        background: $blackColor;
        opacity: 0.2;
        z-index: 101;
        position: absolute;
    }
    .modal-footer{
        margin: 0 auto;
        padding-bottom: 10px;
        width: 100%;
    }
   .modal-dialog {
   		z-index: 103;
   	}
}
