.navbar {
	padding: 0px !important;	
}
.header-item {
	width: 60px;
	text-align: center;
}

.hitem-grey {
	background-color: #555;
}

.hitem-purple {
	background-color: #892E65;
}

.hitem-green {
	background-color: #2E8965;
}

.hitem-light-blue {
	width: 170px !important;
	background-color: #579ec8;
}