.forgot-password-link {
	color: #FE9 !important;
}
.back-to-login-link {
	color: #FE9 !important;
}

.login-box .user-signup-link {
	color: #CF7 !important;
}
.header .blue .lighter .bigger{
	font-size: 15px !important;
}
.login-layout.blur-login {
	.main-container {
		margin-top: 0px !important;
	}	
}