<div id="sidebar" class="sidebar responsive ace-save-state"
	*ngIf="checkRoles('ROLE_USER')">

	<div class="sidebar-shortcuts" id="sidebar-shortcuts">
		<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
			<button class="btn btn-success">
				<i class="ace-icon fa fa-signal"></i>
			</button>

			<button class="btn btn-info">
				<i class="ace-icon fa fa-pencil"></i>
			</button>

			<button class="btn btn-warning">
				<i class="ace-icon fa fa-users"></i>
			</button>

			<button class="btn btn-danger">
				<i class="ace-icon fa fa-cogs"></i>
			</button>
		</div>

		<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
			<span class="btn btn-success"></span> <span class="btn btn-info"></span>

			<span class="btn btn-warning"></span> <span class="btn btn-danger"></span>
		</div>
	</div>
	<!-- /.sidebar-shortcuts -->

	<ul class="nav nav-list">
		<li class="active" (click)="gotoPage('')"><a> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					{{ 'global.menu.dashboard' | translate }} </span>
		</a> <b class="arrow"></b></li>
		<li *ngFor="let function of appUser.menuFunctions">
				<a (click)="onClick($event)"> 
					<i *ngIf="checkIconType(function.icon)==1" class="menu-icon fa" [ngClass]="function.icon"></i>
					<span *ngIf="checkIconType(function.icon)==2" [ngClass]="function.icon"></span>
					<i *ngIf="checkIconType(function.icon)==0" class="menu-icon fa fa-industry"></i> 
					<span class="menu-text">{{function.functionKey | translate}}</span>
					<input type="hidden" value="{{function.api}}" /> 
				</a> 
				<b class="arrow" (click)="gotoPage('clients')"></b>
		</li>
<!-- 		
		<li class=""><a class="dropdown-toggle"> <i
				class="menu-icon fa fa-desktop"></i> <span class="menu-text">
					UI &amp; Elements </span> <b class="arrow fa fa-angle-down"></b>
		</a> <b class="arrow"></b>

			<ul class="submenu">
				<li class="" (click)="gotoPage('')"><a class="dropdown-toggle"> <i
						class="menu-icon fa fa-caret-right"></i> {{ 'global.menu.dashboard' | translate }} <b
						class="arrow fa fa-angle-down"></b>
				</a> <b class="arrow"></b>

					<ul class="submenu">
						<li class=""><a> <i
								class="menu-icon fa fa-caret-right"></i> Top Menu
						</a> <b class="arrow"></b></li>

						<li class=""><a> <i
								class="menu-icon fa fa-caret-right"></i> Two Menus 1
						</a> <b class="arrow"></b></li>

						<li class=""><a> <i
								class="menu-icon fa fa-caret-right"></i> Default Mobile Menu
						</a> <b class="arrow"></b></li>

						<li class=""><a> <i
								class="menu-icon fa fa-caret-right"></i> Mobile Menu 2
						</a> <b class="arrow"></b></li>
					</ul></li>

				<li class=""><a> <i
						class="menu-icon fa fa-caret-right"></i> Typography
				</a> <b class="arrow"></b></li>

				<li class=""><a> <i
						class="menu-icon fa fa-caret-right"></i> Elements
				</a> <b class="arrow"></b></li>

				<li class=""><a> <i
						class="menu-icon fa fa-caret-right"></i> Content Sliders
				</a> <b class="arrow"></b></li>

				<li class=""><a> <i
						class="menu-icon fa fa-caret-right"></i> Treeview
				</a> <b class="arrow"></b></li>

				<li class=""><a> <i
						class="menu-icon fa fa-caret-right"></i> Three Level Menu <b
						class="arrow fa fa-angle-down"></b>
				</a> <b class="arrow"></b>

					<ul class="submenu">
						<li class=""><a> <i
								class="menu-icon fa fa-leaf green"></i> Item #1
						</a> <b class="arrow"></b></li>

						<li class=""><a> <i
								class="menu-icon fa fa-pencil orange"></i> 4th level <b
								class="arrow fa fa-angle-down"></b>
						</a> <b class="arrow"></b>

							<ul class="submenu">
								<li class=""><a> <i
										class="menu-icon fa fa-plus purple"></i> Add Product
								</a> <b class="arrow"></b></li>

								<li class=""><a href="#"> <i
										class="menu-icon fa fa-eye pink"></i> View Products
								</a> <b class="arrow"></b></li>
							</ul></li>
					</ul></li>
			</ul></li>

	<li class=""><a class="dropdown-toggle"> <i
				class="menu-icon fa fa-file-o"></i> <span class="menu-text">
					Other Pages <span class="badge badge-primary">5</span>
			</span> <b class="arrow fa fa-angle-down"></b>
		</a> <b class="arrow"></b>

			<ul class="submenu">
				<li class=""><a> <i
						class="menu-icon fa fa-caret-right"></i> FAQ
				</a> <b class="arrow"></b></li>

				<li class=""><a> <i
						class="menu-icon fa fa-caret-right"></i> Error 404
				</a> <b class="arrow"></b></li>

				<li class=""><a> <i
						class="menu-icon fa fa-caret-right"></i> Grid
				</a> <b class="arrow"></b></li>
			</ul></li>
 -->
	</ul>
	<!-- /.nav-list -->

	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i id="sidebar-toggle-icon"
			class="ace-icon fa fa-angle-double-left ace-save-state"
			data-icon1="ace-icon fa fa-angle-double-left"
			data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>


</div>