#loading_view {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    left: 0;
    color: $grayColor2;
    z-index: 100;

    .overlay {
        width: 100%;
        height: 100%;
        background: $blackColor;
        opacity: 0.2;
        z-index: 101;
        position: absolute;
    }

    .spinner {
        width: 100%;
        height: 100%;
        z-index: 102;
        color: $grayColor2;
        position: absolute;

        img {
            width: 30px;
            position: relative;
            top: 50%;
            margin-top: -30px;
        }
    }
}
