<div *ngIf="isShowDialogConfirm" id="dialog_view">
    <div *ngIf="dialogObj.clickOutSiteToClose" (click)="cancel()" class="overlay"></div>
    <div *ngIf="!dialogObj.clickOutSiteToClose" class="overlay"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{dialogObj.title}}</h4>
            </div>
            <div class="modal-body">
                <label class="control-label">{{dialogObj.message}}</label>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="cancel()" class="btn btn-primary" data-dismiss="modal">{{dialogObj.cancelButtonLabel}}</button>
                <button type="button" (click)="ok()" class="btn btn-primary">{{dialogObj.okButtonLabel}}</button>
            </div>
        </div>
    </div>
</div>
